<nav class="play-navbar">
  <div class="nav-left">
    <ul>
      <li><div class="home-btn" ng-click="goHome()"></div></li>
      <li><search-bar results=results></search-bar></div></li>
    </ul>
  <div class="nav-right">
    <div class="saved-btn" ng-click="toggleModal()">
      <div class="saved-text">
        Saved Tracks
      </div>
      <div class="saved-num-circle">
        <div class="saved-num">
          {{playlistLength()}}
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="modal-bg" ng-click="toggleModal()" ng-show="modalShow === true">
  <div class="modal-wrapper">
    <div class="modal" ng-click="$event.stopPropagation()">
      <h2>Saved Songs</h2>
      <div class="song-item" ng-repeat="song in savedSongs | filter: {isRightSwipe: true}">
        {{song.details.ars}} - {{song.details.name}}
      </div>
    </div>
  </div>
</div>
<div class="play-body">
  <music-card top-track=topTrack right-swipe=rightSwipe left-swipe=leftSwipe></music-card>
</div>